/* line 3, ../sass/prototype.scss */
.no-scroll {
  overflow: hidden;
}

/* line 7, ../sass/prototype.scss */
.look {
  display: block;
  float: left;
  padding: 10px;
  width: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* line 7, ../sass/prototype.scss */
  .look {
    width: 50%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  /* line 7, ../sass/prototype.scss */
  .look {
    width: 100%;
  }
}
/* line 26, ../sass/prototype.scss */
.look:hover .look-images img:last-of-type {
  opacity: 0;
}
/* line 35, ../sass/prototype.scss */
.look.open-dialog:before {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
}
/* line 48, ../sass/prototype.scss */
.look.open-dialog .look-dialog {
  display: block;
}
/* line 54, ../sass/prototype.scss */
.look-action {
  border-top: solid 1px #e8e8e8;
  color: #000000;
  display: block;
  font-size: 15px;
  line-height: 40px;
  margin-top: 10px;
  text-align: center;
}
/* line 64, ../sass/prototype.scss */
.look-badge {
  border: solid 1px #FFFFFF;
  bottom: 20px;
  color: #FFFFFF;
  height: 50px;
  font-size: 12px;
  line-height: 10px;
  padding: 10px;
  position: absolute;
  right: 20px;
  text-align: center;
  width: 50px;
  z-index: 999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
/* line 80, ../sass/prototype.scss */
.look-badge span {
  display: block;
}
/* line 85, ../sass/prototype.scss */
.look-details {
  background: #FFFFFF;
  padding: 10px 0 0 0;
}
/* line 90, ../sass/prototype.scss */
.look-dialog {
  background: #FFFFFF;
  display: none;
  left: 50%;
  max-width: 1200px;
  overflow: hidden;
  position: fixed;
  top: 50%;
  width: 90%;
  z-index: 99999;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  /* line 90, ../sass/prototype.scss */
  .look-dialog {
    bottom: 0;
    left: 0;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    right: 0;
    top: 0;
    width: 100%;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* line 90, ../sass/prototype.scss */
  .look-dialog {
    bottom: 20px;
    left: 80px;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    right: 80px;
    top: 20px;
    width: auto;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}
/* line 126, ../sass/prototype.scss */
.look-dialog-action {
  background: #FFFFFF;
  border-top: solid 1px #dddddd;
  bottom: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 54%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  /* line 126, ../sass/prototype.scss */
  .look-dialog-action {
    clear: both;
    position: static;
    width: 100%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* line 126, ../sass/prototype.scss */
  .look-dialog-action {
    clear: both;
    position: static;
    width: 100%;
  }
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  /* line 150, ../sass/prototype.scss */
  .look-dialog-close {
    position: fixed;
    right: 10px;
    top: 10px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* line 150, ../sass/prototype.scss */
  .look-dialog-close {
    position: fixed;
    right: 10px;
    top: 10px;
  }
}
/* line 164, ../sass/prototype.scss */
.look-dialog-close:before {
  color: #acacac;
  content: "\E012";
  cursor: pointer;
  display: block;
  font-family: 'bcsicons';
  position: absolute;
  top: 20px;
  right: 20px;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  /* line 164, ../sass/prototype.scss */
  .look-dialog-close:before {
    position: fixed;
    background: #FFFFFF;
    padding: 10px;
    right: 10px;
    top: 10px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* line 164, ../sass/prototype.scss */
  .look-dialog-close:before {
    position: fixed;
    background: #FFFFFF;
    padding: 10px;
    right: 10px;
    top: 10px;
  }
}
/* line 192, ../sass/prototype.scss */
.look-dialog-images {
  float: left;
  position: relative;
  width: 46%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  /* line 192, ../sass/prototype.scss */
  .look-dialog-images {
    float: none;
    width: 100%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* line 192, ../sass/prototype.scss */
  .look-dialog-images {
    float: none;
    width: 100%;
  }
}
/* line 209, ../sass/prototype.scss */
.look-dialog-images img:last-of-type {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
/* line 219, ../sass/prototype.scss */
.look-dialog-products {
  bottom: 0;
  float: left;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 54%;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  /* line 219, ../sass/prototype.scss */
  .look-dialog-products {
    overflow: auto;
    overflow-y: auto;
    overflow-x: auto;
    position: static;
    width: 100%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* line 219, ../sass/prototype.scss */
  .look-dialog-products {
    overflow: auto;
    overflow-y: auto;
    overflow-x: auto;
    position: static;
    width: 100%;
  }
}
/* line 249, ../sass/prototype.scss */
.look-dialog-products .listing {
  width: 33.3%;
  position: relative;
}
/* line 27, ../sass/_base.scss */
.look-dialog-products .listing:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 143.33332%;
}
/* line 34, ../sass/_base.scss */
.look-dialog-products .listing > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 42, ../sass/_base.scss */
.look-dialog-products .listing > .content-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  /* line 249, ../sass/prototype.scss */
  .look-dialog-products .listing {
    position: relative;
    width: 50%;
  }
  /* line 27, ../sass/_base.scss */
  .look-dialog-products .listing:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 174.99999%;
  }
  /* line 34, ../sass/_base.scss */
  .look-dialog-products .listing > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  /* line 42, ../sass/_base.scss */
  .look-dialog-products .listing > .content-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
/* line 258, ../sass/prototype.scss */
.look-dialog-products .listing .btn {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0.2s;
  -moz-transition: opacity 0.3s ease 0.2s;
  -ms-transition: opacity 0.3s ease 0.2s;
  -o-transition: opacity 0.3s ease 0.2s;
  transition: opacity 0.3s ease 0.2s;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  /* line 258, ../sass/prototype.scss */
  .look-dialog-products .listing .btn {
    opacity: 1;
  }
}
/* line 270, ../sass/prototype.scss */
.look-dialog-products .listing.long .listing-options-arrows {
  display: block;
}
/* line 273, ../sass/prototype.scss */
.look-dialog-products .listing.long .listing-options-arrows:first-of-type {
  display: none;
}
/* line 283, ../sass/prototype.scss */
.look-dialog-products .listing:hover .btn {
  opacity: 1;
}
/* line 288, ../sass/prototype.scss */
.look-dialog-products .listing:hover .listing-details {
  bottom: -65px;
}
/* line 292, ../sass/prototype.scss */
.look-dialog-products .listing:hover .listing-options {
  opacity: 1;
}
/* line 296, ../sass/prototype.scss */
.look-dialog-products .listing:hover .listing-swatches {
  opacity: 1;
}
/* line 302, ../sass/prototype.scss */
.look-dialog-products .listing-details {
  -webkit-transition-property: bottom, border, margin, padding, z-index;
  -moz-transition-property: bottom, border, margin, padding, z-index;
  -ms-transition-property: bottom, border, margin, padding, z-index;
  -o-transition-property: bottom, border, margin, padding, z-index;
  transition-property: bottom, border, margin, padding, z-index;
}
/* line 307, ../sass/prototype.scss */
.look-dialog-products .listing-gallery li {
  width: 80%;
}
/* line 312, ../sass/prototype.scss */
.look-dialog-products .listing-options {
  opacity: 0;
  padding: 5px;
  position: relative;
  -webkit-transition: opacity 0.3s ease 0.2s;
  -moz-transition: opacity 0.3s ease 0.2s;
  -ms-transition: opacity 0.3s ease 0.2s;
  -o-transition: opacity 0.3s ease 0.2s;
  transition: opacity 0.3s ease 0.2s;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  /* line 312, ../sass/prototype.scss */
  .look-dialog-products .listing-options {
    opacity: 1;
  }
}
/* line 322, ../sass/prototype.scss */
.look-dialog-products .listing-options-arrows {
  bottom: 7px;
  display: none;
  position: absolute;
  right: 0;
  top: 7px;
  z-index: 999;
}
/* line 331, ../sass/prototype.scss */
.look-dialog-products .listing-options-arrows:first-of-type {
  display: none;
  right: auto;
  left: 0;
}
/* line 336, ../sass/prototype.scss */
.look-dialog-products .listing-options-arrows:first-of-type:before {
  content: '\E003';
}
/* line 342, ../sass/prototype.scss */
.look-dialog-products .listing-options-arrows:hover:before {
  border: solid 1px #000000;
}
/* line 347, ../sass/prototype.scss */
.look-dialog-products .listing-options-arrows:before {
  background: #FFFFFF;
  border: solid 1px #dddddd;
  content: '\E004';
  display: block;
  font-family: 'bcsicons';
  font-size: 12px;
  line-height: 28px;
  width: 17px;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
@media only screen and (min-width: 0px) and (max-width: 600px) {
  /* line 347, ../sass/prototype.scss */
  .look-dialog-products .listing-options-arrows:before {
    background: transparent;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
    border: none;
    content: "";
    height: 30px;
  }
}
/* line 368, ../sass/prototype.scss */
.look-dialog-products .listing-options-container {
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
/* line 375, ../sass/prototype.scss */
.look-dialog-products .listing-options-overflow {
  white-space: nowrap;
}
/* line 379, ../sass/prototype.scss */
.look-dialog-products .listing-options-blocks {
  border: solid 1px #dddddd;
  display: inline-block;
  /* For normal, healthy browsers */
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  margin: 2px;
  text-align: center;
  min-width: 30px;
  max-width: 90px;
  -webkit-transition: border 0.3s ease;
  -moz-transition: border 0.3s ease;
  -ms-transition: border 0.3s ease;
  -o-transition: border 0.3s ease;
  transition: border 0.3s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 56, ../sass/_base.scss */
* html .look-dialog-products .listing-options-blocks {
  /* for IE6 */
  display: inline;
}
/* line 60, ../sass/_base.scss */
* + html .look-dialog-products .listing-options-blocks {
  /* for IE7 */
  display: inline;
}
/* line 392, ../sass/prototype.scss */
.look-dialog-products .listing-options-blocks:hover {
  border: solid 1px #000000;
}
/* line 396, ../sass/prototype.scss */
.look-dialog-products .listing-options-blocks.selected {
  border: solid 1px #000000;
}
/* line 400, ../sass/prototype.scss */
.look-dialog-products .listing-options-blocks.number {
  min-width: 40px;
}
/* line 407, ../sass/prototype.scss */
.look-dialog-products .listing-info-rating {
  display: none;
}
/* line 412, ../sass/prototype.scss */
.look-dialog-products .listing-swatches {
  opacity: 0;
  position: relative;
  top: -5px;
  -webkit-transition: opacity 0.3s ease 0.2s;
  -moz-transition: opacity 0.3s ease 0.2s;
  -ms-transition: opacity 0.3s ease 0.2s;
  -o-transition: opacity 0.3s ease 0.2s;
  transition: opacity 0.3s ease 0.2s;
}
/* line 418, ../sass/prototype.scss */
.look-dialog-products .listing-swatches-swatch {
  background: #000000;
  display: inline-block;
  /* For normal, healthy browsers */
  margin: 0 2px;
  height: 16px;
  width: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  border-radius: 16px;
}
/* line 56, ../sass/_base.scss */
* html .look-dialog-products .listing-swatches-swatch {
  /* for IE6 */
  display: inline;
}
/* line 60, ../sass/_base.scss */
* + html .look-dialog-products .listing-swatches-swatch {
  /* for IE7 */
  display: inline;
}
/* line 426, ../sass/prototype.scss */
.look-dialog-products .listing-swatches-swatch.beige {
  background: #EFB780;
}
/* line 427, ../sass/prototype.scss */
.look-dialog-products .listing-swatches-swatch.black {
  background: #000;
}
/* line 428, ../sass/prototype.scss */
.look-dialog-products .listing-swatches-swatch.blue {
  background: #369;
}
/* line 429, ../sass/prototype.scss */
.look-dialog-products .listing-swatches-swatch.brown {
  background: #963;
}
/* line 430, ../sass/prototype.scss */
.look-dialog-products .listing-swatches-swatch.gray {
  background: #ccc;
}
/* line 431, ../sass/prototype.scss */
.look-dialog-products .listing-swatches-swatch.green {
  background: #093;
}
/* line 432, ../sass/prototype.scss */
.look-dialog-products .listing-swatches-swatch.orange {
  background: #f93;
}
/* line 433, ../sass/prototype.scss */
.look-dialog-products .listing-swatches-swatch.pink {
  background: #f39;
}
/* line 434, ../sass/prototype.scss */
.look-dialog-products .listing-swatches-swatch.purple {
  background: #639;
}
/* line 435, ../sass/prototype.scss */
.look-dialog-products .listing-swatches-swatch.red {
  background: #f00;
}
/* line 436, ../sass/prototype.scss */
.look-dialog-products .listing-swatches-swatch.white {
  background: #fff;
  border: solid 1px #e8e8e8;
  width: 15px;
  height: 15px;
}
/* line 437, ../sass/prototype.scss */
.look-dialog-products .listing-swatches-swatch.yellow {
  background: #ff0;
}
/* line 443, ../sass/prototype.scss */
.look-dialog-title {
  padding: 10px 0;
  text-align: center;
}
/* line 449, ../sass/prototype.scss */
.look-images {
  cursor: pointer;
  margin: 0 10px;
  position: relative;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 27, ../sass/_base.scss */
.look-images:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 133.33332%;
}
/* line 34, ../sass/_base.scss */
.look-images > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* line 42, ../sass/_base.scss */
.look-images > .content-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 456, ../sass/prototype.scss */
.look-images img {
  position: absolute;
  top: 0px;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
