@import 'mixins';
@import "components/storefront";
@import "components/brand-story-owl-elements";
@import "components/brand-story-hero-standard";
@import "components/hero-lookbook";
@import "components/link-list-sub-header";
@import "components/vis-nav-flex-grid";
@import "components/sticky-nav";
@import "components/recommendation-slider";


category {
	background:colors(white);
	border-bottom:solid 1px colors(gray-4);
	display:block;
	margin:0 auto;
	max-width:1100px;
	padding:20px 0;
	text-align:center;
	
	a {
		color:colors(black);
		display:block;
		float:left;
		padding:10px;
		width:20%;
		@include prefix("box-sizing",border-box);
		
		img {
			margin-bottom:10px;
		}
	}
}

.pli-label {
	background:colors(black);
	color:colors(white);
	font-size:12px;
	padding:2px 5px;
    text-align:center; 
	position:absolute;
	opacity:1;
	z-index:999999;
	left:50%;
	bottom:2px;
	width:110px;
	
	@include prefix("border-radius", 2px);
	@include prefix("transform", translatex(-50%));
	
	@include prefix("transition-duration", 0.1s);
	@include prefix("transition-property", (opacity));
	@include prefix("transition-timing-function", ease);
}

@include breakpoint(landscape){
	.pli-label {
		display:none;
		width:33.3%;
	}
}

@include breakpoint(portrait){
	.pli-label {
		display:none;
		width:33.3%;
	}
}

@include breakpoint(mobile){
	.pli-label {
		display:none;
		bottom:-4px;
		width:50%;
	}
}

gallery {
	position:relative;
	top:50px;
	
	.overflow {
		width:200%;
		
		a {
			background-size:cover;
			display:block;
			float:left;
			overflow:hidden;
			position:relative;
			width:8%;
			
			&:after {
				color:colors(white);
				content:attr(data);
				display:block;
				position:absolute;
				top:50%;
				left:50%;
				text-transform:uppercase;
				@include prefix("transform",translate3d(-50%,-50%,0));
			}
		}
	}
}


.group {
	padding:0 0 70px 0;
	
	hr {
		border-top:solid 1px colors(black);
		border-bottom:none;
		margin:40px 10px 0 10px;
		opacity:0.1;
	}
}

.listing-cap {
	display:block;
	float:left;
	position:relative;
	width:25%;
	
	.placeholder-product {
		display:block;
		opacity:0;
	}
	
	.cap-block {
		background:colors(white);
		color:colors(black);
		position:absolute;
		top:10px;
		left:10px;
		right:10px;
		bottom:0px;
		
		.cap-bg {
			opacity:0.2;
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
		}
		
		.cap-messsage {
			position:absolute;
			left:50%; 
			text-align:center;
			top:50%; 
			width:80%;
			
			h3 {
				&:after {
					content:"";
					display:block;
					width:20%;
					height:2px;
					margin:20px auto;
					background:colors(gray-3);
				}
			}
			
			@include prefix("transform",translate3d(-50%,-50%,0));
			
			p {
				color:colors(gray-1);
				line-height:18px;
				margin-bottom:20px;
			}
		}
	}
}

@include breakpoint(portrait){
	.listing-cap {
		width:33.3%;
		
		.cap-block {
			background:colors(black);
			color:colors(white);
			position:absolute;
			top: 20px;
			    left: 20px;
			    right: 0px;
			    bottom: -10px;
		}
	}
}

@include breakpoint(landscape){
	.listing-cap {
		width:25%;
		
		.cap-block {
			background:colors(black);
			color:colors(white);
			position:absolute;
			top: 20px;
			    left: 20px;
			    right: 0px;
			    bottom: -5px;
		}
	}
}

@include breakpoint(mobile){
	.listing-cap {
		width:50%;
		
		.cap-block {
			background:colors(black);
			color:colors(white);
			position:absolute;
			top: 3px;
			left: 3px;
			right: 3px;
			bottom: 3px;
			
			.cap-messsage {
				
				h3 {
					white-space: nowrap;
				}
				
				p {
					color:colors(gray-4);
					font-size:12px;
					line-height:12px;
				}
			}
		}

	}
}

.listing-ad {
	background:url(../img/layout/pli_ad.jpg) no-repeat center top;
	background-size:auto 100%;
	display:block;
	float:left;
	position:relative;
	width:50%;
	@include prefix("box-sizing",border-box);
	
	.listing-ad-spacer {
		float:left;
		opacity:0;
		padding:10px;
		width:50%;
		
		.placeholder-product {
			display:block;
			opacity:0;
		}
	}
	
	&.single {
		background:url(../img/layout/pli_ad_half.jpg) no-repeat bottom center;
		background-size:100% auto;
		top:10px;
		width:25%;
		
		.listing-ad-spacer { width:100%; }
	}
	
	&.push-1 {
		left:25%;
		
		&.single {

		}
	}
	
	&.pull-1 { left:-25%; }
	
	
}


@include breakpoint(mobile){
	.listing-ad {
		display:none;
	}
}

@include breakpoint(portrait){
	.listing-ad {
		width:66.6%;
		
		.listing-ad-spacer { }
		&.single { width:33.3%; }
		&.pull-1 { left:0; }
		&.push-1 { left:0; }
	}
}

@include breakpoint(landscape){
	.listing-ad {
		
		.listing-ad-spacer { }
		&.single { }
		&.pull-1 { left:-25%; }
		&.push-1 { left:25%; }
	}
}

.listing-title {
	float:left;
	width:50%;

	@include prefix("box-sizing",border-box);

	.holder {
		padding:10px;
		width:50%;
		@include prefix("box-sizing",border-box);
	}
	
	
	.placeholder-product { display:block; opacity:0; }
	
	.title-details {
		position:relative;
		
		.label {
			background:colors(white);
			position:absolute;
			top:10px;
			left:10px;
			bottom:10px;
			width:calc(50% - 10px);
			z-index:4;
			@include prefix("box-sizing",border-box);
			
			.text {
				position:absolute;
				left:50%;
				top:50%;
				text-align:center;
				width:80%;
				@include prefix("transform",translate3d(-50%,-50%,0));
				
				.brand-mark {
					&:after {
						content:"";
						display:block;
						width:20%;
						height:2px;
						margin:10px auto 30px auto;
						background:colors(gray-4);
					};
				}
				
				a {
					color:colors(black);
					margin:0;
					padding:0;
				}

				p {
					color:colors(gray-2);
					line-height:18px;
				}
			}
		}
		
		.group-gallery {
			position:absolute;
			top:10px;
			right:10px;
			bottom:10px;
			width:50%;
			overflow:hidden;
			
			.image {
				background-size:cover;
				top:0;
				left:0;
				bottom:0;
				right:0;
				position:absolute;
				
				&.active { z-index:3; }
			}
			
			.listing {
				opacity:0;
				padding:2px 10px;
				visibility:hidden; 
				width:100%;
			}
		}
	}
}



@include breakpoint(mobile){
	.listing-title {
		float:none;
		padding:3px;
		width:100%;
		
		.placeholder-product { display:none; }
		
		.title-details {
			.label {
				float:none;
				position:static;
				width:100%;
				
				.text {
					position:static;
					margin:0 auto;
					@include prefix("transform",translate3d(0,0,0));
				}
			}
			
			.group-gallery {
				height:200px;
				float:none;
				position:relative;
				width:100%;
			}
			
		}
	}
}

@include breakpoint(portrait){
	.listing-title {
		width:100%;
		
		.title-details {
			.label {
				width:33.3%;
			}
			
			.group-gallery {
				width:66.7%;
			}
		}
	}
}

.listing {
	color:colors(black);
	display:block;
	float:left;
	overflow:visible;
	padding:10px;
	position:relative;
	text-align:center;
	@include prefix("box-sizing",border-box);
	@include prefix("border-radius",2px);
	@include prefix("transition-delay", 0.2s);
	@include prefix("transition-duration", 0.1s);
	@include prefix("transition-property", (padding, margin));
	@include prefix("transition-timing-function", ease);
	
	&:hover {
		.pli-label {
			opacity:0;
		}
	}
	
	&.across-4 {
		width:25%;
	}

	&.pull-1 {
		left:-25%;
	}
	
	&.push-2 {
		left:50%;
	}
	
	&.double {
		width:50%;
	}
	
	&.full {
		width:100%;
	}
	
	&[exclusive="true"]{
		.product-details {
			.discount,
			.credits {
				top:5px;
			}
		}
	}
	
	.placeholder-product {
		display:block;
		opacity:0;
		position:relative;
		z-index:9999;
		
		rating {
			opacity:0;
		}
	}
	
	.product-details {
		background:colors(white);
		border:solid 1px colors(white);
		padding:0 0 20px 0;
		position:absolute;
		top:10px;
		left:10px;
		right:10px;
		bottom:10px;
		z-index:99999;
		@include prefix("box-sizing",border-box);
		@include prefix("transition-delay", 0.2s);
		@include prefix("transition-duration", 0.3s);
		@include prefix("transition-property", (transform, right, top, left, bottom, z-index));
		@include prefix("transition-timing-function", ease);
		
		&:hover {
			border:solid 1px colors(gray-3);
			bottom:-20px;
			left:-20px;
			right:-20px;
			top:-10px;
			z-index:2147483639;
			
			.info {
				.credits {
					opacity:1;
					@include prefix("transition", opacity 0.1s ease 1s);
				}	
				
				rating {
					opacity:1;
				}
			}

			.gallery-container {
				padding:segment(19) 0 segment(8) 0;
				
				.quickview {
					opacity:1;
					@include prefix("transition", opacity 0.3s ease 1s);
				}
				
				.swatches,
				.colorways {
					opacity:1;
				}
				
				.gallery {

					li {
						&.left, 
						&.right { 
							opacity:0.3;
						}
						
						&.selected {
							@include prefix("transform", (translate3d(0,0,0) scale(1.5)));
						}
					}
				}	
				
				&.focus-on-left {
					.quickview {
						opacity:0;
						@include prefix("transition", opacity 0.3s ease 0s);
					}
					.gallery {
						li {
							&.left { 
								opacity:1;
							}	
						}	
					}
				}
				
				&.focus-on-selected {
					.color-facet {
						opacity:0;
					}
				}

				&.focus-on-right {
					.quickview {
						opacity:0;
						@include prefix("transition", opacity 0.3s ease 0s);
					}
					.gallery {
						li {
							&.right { 
								opacity:1;
							}	
						}	
					}
				}
			}

			.favorite {
				.heart {
					.path-1 {
						opacity:1;
					}

					.path-2 {
						opacity:1;
					}
				}
			}

		}
		
		.discount {
			color:colors(red);
			@include inline-block;
			font-size:13px;
			left:5px;
			letter-spacing:-0.05em;
			line-height:18px;
			padding:0 8px;
			position:absolute;
			text-transform:uppercase;
			top:10px;
			z-index:9;
			opacity:0;
			@include prefix("transition", all 0.3s ease 0.2s);
		}
		
		.credits {
			color:colors(red);
			@include inline-block;
			font-size:13px;
			left:10px;
			letter-spacing:-0.05em;
			line-height:18px;
			padding:0 8px;
			position:absolute;
			text-transform:uppercase;
			top:10px;
			z-index:9;
			@include prefix("transition", all 0.3s ease 0.2s);
		}
		
		.exclusive {
			background:colors(white);
			border-bottom:solid 1px colors(gray-5);
			color:colors(black);
			@include inline-block;
			font-size:12px;
			left:0;
			height:30px;
			line-height:30px;
			position:absolute;
			text-transform:uppercase;
			top:0;
			right:0;
			@include prefix("transition", all 0.3s ease 0.2s);

		}
		
		.gallery-container {
			overflow:hidden;
			margin:0 1px;
			padding:segment(19) 0 segment(8) 0;
			@include prefix("transition-delay", 0.2s);
			@include prefix("transition-duration", 0.3s);
			@include prefix("transition-property", (padding));
			@include prefix("transition-timing-function", ease);
			
			.quickview {
				left:50%;
				opacity:0;
				position:absolute;
				top:60%;
				z-index:99999999;
				@include prefix("transform",translate3d(-50%,-50%,0));
				@include prefix("transition", opacity 0.3s ease 0.0s);
				
				.btn {
					border:solid 1px rgba(colors(black),0.5);
					background:rgba(colors(white),0.9);
					color:colors(black);
					margin:0;
				}
			}
			
			.colorways {
				clear:both;
				opacity:0;
				position:relative;
				text-align:center;
				top:38px;
				width:100%;
				z-index:9999999;
				@include prefix("box-sizing",border-box);
				@include prefix("transition", opacity 0.3s ease 0.2s);

				.colorway {
					background-position:60% center;
					@include inline-block;
					height:16px;
					margin:5px -2px;
					overflow:hidden;
					position:relative;
					width:16px;
					@include prefix("border-radius",100px);
					@include prefix("transition", opacity 0.3s ease);
					@include prefix("transform", scale(0.4));
					@include prefix("transition", all 0.3s ease);
					
					&:hover {
						opacity:1;
						@include prefix("transform", scale(1));
					}
					
					&.selected {
						margin:5px 0;
						opacity:1;
						@include prefix("transform", scale(1));
					}
				}
			}
			
			.swatches {
				clear:both;
				opacity:0;
				position:relative;
				text-align:center;
				top:38px;
				width:100%;
				z-index:9999999;
				@include prefix("box-sizing",border-box);
				@include prefix("transition", opacity 0.3s ease 0.2s);

				.swatch {
					background-position:60% center;
					@include inline-block;
					height:16px;
					margin:5px -2px;
					overflow:hidden;
					position:relative;
					width:16px;
					@include prefix("border-radius",100px);
					@include prefix("transition", opacity 0.3s ease);
					@include prefix("transform", scale(0.4));
					@include prefix("transition", all 0.3s ease);
					
					&:hover {
						opacity:1;
						@include prefix("transform", scale(1));
					}
					
					&.selected {
						margin:5px 0;
						opacity:1;
						@include prefix("transform", scale(1));
					}
				}
			}
			
			@include breakpoint(mobile){
				.swatches {
					display:none;
				}
			}
		
			.gallery {
				list-style-type:none;
				padding:0;
				position: relative;

				li {
					background-position:center center;
					background-size:90% 90%;
					left:25%;
					opacity:0;
					position:absolute;
					top:0;
					width:50%;
					@include prefix("transition", all 0.7s ease);
					@include prefix("transform", (translateX(200%) scale(0.7)));

					&.selected {
						opacity:1;
						position:relative;
						@include prefix("image-rendering",pixelated);
						@include prefix("transform", (translate3d(0,0,0) scale(1.5)));
						
						&:hover {
							@include prefix("transform", (translate3d(0,0,0) scale(1.45)));
						}
					}

					&.right {
						@include prefix("transform", (translateX(100%) scale(0.7)));
					}

					&.left {
						@include prefix("transform", (translateX(-100%) scale(0.7)));
					}

					&.hide {
						opacity:0;
						@include prefix("transform", (translateX(-200%) scale(0.7)));
					}
				}
			}

			&.disable {
				.gallery {

					li {
						&.left, 
						&.right { 
							opacity:0;
						}
					}
				}
			}
		
		}
	
		.favorite {
			position:absolute;
			top:7px;
			right:10px;
			z-index:999999;
			width:20px;
			
			&:before {
				color:colors(gray-2);
				content:"Favorite";
				font-size:12px;
				opacity:0;
				position:absolute;
				text-transform:uppercase;
				right:15px;
				top:1px;
				@include prefix("transition",all 0.3s ease);
			}

			.heart {
				cursor:pointer;
			  	display: block;
				float:right;
				margin-top:-3px;
			  	overflow: visible;
				pointer-events: none;
				height:18px;
			  	width:15px;
			
				.path-1 {
					fill: transparent;
					opacity:0;
					stroke:colors(gray-3);
					@include prefix("transition",all 0.7s ease 0.4s);
				}

				.path-2 {
			  		fill: transparent;
					opacity:0;
					stroke:colors(black);
				  	stroke-dasharray: 308.522, 308.522;
				  	stroke-dashoffset: 308.522;
					@include prefix("transition",all 0.7s ease);
				}
			}
			
			&:hover {
				width:100px;
				
				&:before {
					right:20px;
					opacity:1;
				}

				.heart {
					.path-2 {
						stroke-dashoffset: 0;
					}
				}	
			}

			&.active {
				.heart {
					.path-2 {
						fill:colors(black);
						opacity:1;
						stroke-dashoffset: 0;
					}	
				}
			}

		}
		
		.info {
			line-height:segment(5);
			margin:0 auto;
			width:70%;

			.brand { 
				font-size:15px;
				overflow: hidden;
			  	text-overflow: ellipsis;
				white-space: nowrap;
			}
			
			.product-name {
				color:colors(gray-1);
				font-size:13px;
				line-height:14px;
				margin:0;
				overflow: hidden;
			  	text-overflow: ellipsis;
				white-space: nowrap;
			}
			
			rating {
				opacity:0;
				@include prefix("transition", opacity 0.3s ease 0.2s);
			}
			
			.gift {
				color:colors(black);
				font-size:11px;
				line-height:14px;
				position:absolute;
				left:50%;
				bottom:15px;
				padding:0px 0px;
				border-bottom:solid 1px colors(gray-1);
				text-transform:uppercase;
				white-space: nowrap;
				@include prefix("transform", translateX(-50%));
			}

			.pricing {
				font-size:14px;
				white-space: nowrap;
				
				.sale {
					@include inline-block;
					color:colors(black);
					margin:0 -5px -10px 0;
					overflow:hidden;
					position: relative;
					top: -3px;
					white-space: nowrap;
					width:0;
					
					@include prefix("transition",width 0.3s ease);
				}
				.product-price {
					font-size:14px;
					position:relative;
					@include inline-block;

					&:after {
						background:transparent;
						content:"";
						display:block;
						height:1px;
						position:absolute;
						top:9px;
						width:1px;
						@include prefix("transition",width 0.5s ease);
					}
				}
			}

		}
		
	}	


	&.on-sale {
		
		.discount {
			opacity:1;
		}
		
		.info {
			.pricing {
				.sale {
					width:80px;
					
					&.long {
						width:110px;
					}
				}
				
				.product-price {
					&:after {
						background:colors(black);
						width:100%;
					}
				}
			}
		}
	}

}

/* PLI's Breakpoints  */

@include breakpoint(mobile){
	.listing {
		padding:3px;
		width:50%;
		@include prefix('transform',scale(1));
		
		&.pull-1 { left:0; }
		
		&.push-2 { left:0; }
		
		&[exclusive="true"]{
			.details {
				.discount,
				.credits {
					top: 8px;
				}
			}
		}
		
		.placeholder-product {
			display:none;
		}
		
		&:hover {
			padding:3px;
			margin-bottom:0;
			margin:0px;

			.details {
				margin:0px;
			}
		}
		
		.product-details {
			position:static;
			padding:0 0 20px 0;
			margin:0;
			
			&:hover {
				border:solid 1px colors(white);
				bottom:0px;
				left:0px;
				right:0px;
				top:0px;
				padding:0 0 20px 0;
				
				.gallery-container { 
					padding:0;
				}
			}
			
			.exclusive {
				font-size:11px;
				left:3px;
				right:3px;
				top:3px;
			}
			
			.gallery-container { 
				padding:0;
				
				.gallery {
					margin:segment(5) 0 segment(3) 0;	
					
					li {
						left:0;
						width:100%;
						
						&.selected {
							@include prefix("transform", translate3d(0, 0, 0) scale(1));	
						}
					}

					.left, .right {
						display:none;
					}
				}
			}

			.info {
				width:80%;
				
				.product-name {
					height:auto;
				}

				rating {
					margin-top:-5px;
					opacity:1;
				}
				
				.pricing {
					height:auto;
					padding:0;
				}
			}
			
			.discount,
			.credits {
				font-size:11px;
				top:10px;
				left:3px;
			}
			

			
			.quickview {
				display:none;
			}
			
			.favorite {
				opacity:1;
				top:11px;
				right:10px;
				
				&:before {
					display:none;
				}
				
				&.active {
					.heart {
						.path-2 {
							fill:colors(black);
							opacity:1;
						}	
					}
				}

				.heart {

					.path-1 {
						opacity:0.25;
					}
				}
			}
		}
	}
}

@include breakpoint(portrait){
	.listing {
		width:33.3%;
		
		.exclusive {
			font-size:11px;
			left:10px;
			right:3px;
			top:3px;
		}
		
		.quickview {
			display:None;
		}
		
		.product-details {
			padding:0 0 20px 0;
			
			&:hover {
				border:solid 1px colors(white);
				bottom:10px;
				left:10px;
				right:10px;
				top:10px;
				padding:0 0 20px 0;
				
				.gallery-container { 
					padding:segment(16) 0 segment(8) 0;
				}
			}
			
			.gallery-container {
				padding:segment(16) 0 segment(8) 0;	
				
				.swatches {
					top:33px;
					opacity:1;
				}	
			}
			
			.info {
				width:80%;
				
				.product-name {
					height:auto;
				}

				rating {
					margin-top:-5px;
					opacity:1;
				}
				
				.pricing {
					height:auto;
					padding:0;
				}
				
				.gift {
					bottom:10px;
				}
			}
		}
		
		&.pull-1 { left:0; }
		&.push-2 { left:0; }
	}
}

@include breakpoint(landscape){
	.listing {
		width:25%;

		
		.exclusive {
			font-size:11px;
			left:10px;
			right:3px;
			top:3px;
		}
		
		.quickview {
			display:None;
		}
		
		.product-details {
			padding:0 0 20px 0;
			
			&:hover {
				border:solid 1px colors(white);
				bottom:10px;
				left:10px;
				right:10px;
				top:10px;
				padding:0 0 20px 0;
				
				.gallery-container { 
					padding:segment(16) 0 segment(7) 0;
				}
			}
			
			.gallery-container {
				padding:segment(16) 0 segment(7) 0;	
				
				.swatches {
					top:33px;
					opacity:1;
				}	
			}
			
			.info {
				width:80%;
				
				.product-name {
					height:auto;
				}

				rating {
					margin-top:-5px;
					opacity:1;
				}
				
				.pricing {
					height:auto;
					padding:0;
				}
				
				.gift {
					bottom:10px;
				}
			}
		}
		
		&.pull-1 { left:-25%; }
		&.push-2 { left:50%; }
	}
}

@include breakpoint(desktop){
	.listing {
		width:25%;
		
		&.pull-1 { left:-25%; }
		&.push-2 { left:50%; }
	}
}

@include breakpoint(huge){
	.listing {
		width:25%;
	}
}

notice {
	background:colors(blue);
	display:block;
	height:6px;
	position:absolute;
	width:6px;
	animation: pulse 4s infinite;
	animation-delay: 0.5s;
	
	@include prefix("border-radius", 6px);
	

	
	@keyframes pulse {
	  	from {
			box-shadow: 0 0 0 0 colors(blue);
	  	}
	
		20% {
			box-shadow: 0 0 0 10px rgba(colors(blue), 0);
		}
	}
}

rating {
	display:block;
	height:20px;
	position:relative;
	@include inline-block;
	width:55px;
	@include prefix("font-smoothing",antialiased);	
	@include prefix("text-rendering",optimizeLegibility);	
	
	&:before {
		content:"\2605 \2605 \2605 \2605 \2605";
		color:colors(black);
		display:block;
		font-size:10px;
		letter-spacing:0.1em;
		left:0;
		overflow:hidden;
		position:absolute;
		right:0;
		top:0;
		white-space: nowrap;
		z-index:9;
	}
	
	&:after {
		content:"\2605 \2605 \2605 \2605 \2605";
		color:colors(gray-3);
		display:block;
		font-size:10px;
		letter-spacing:0.1em;
		left:0;
		position:absolute;
		right:0;
		top:0;
		white-space: nowrap;
	}
	
	&[rate="4"]{
		&:before {
			width:80%;
		}
	}
	
	&[rate="3"]{
		&:before {
			width:60%;
		}
	}
	
	&[rate="2"]{
		&:before {
			width:40%;
		}
	}
	
	&[rate="1"]{
		&:before {
			width:20%;
		}
	}
	
	&[rate="0"]{
		opacity:0.25;
		&:before {
			
			width:0%;
		}
	}
	
	&.large {
		height:25px;
		width:115px;
		
		&:before,
		&:after {
			font-size:22px;
			letter-spacing:0.05em;
		}
	}
}

.screen-overlay {
	background:rgba(colors(black),0.3);
	bottom:0;
	left:0;
	opacity:0;
	position:absolute;
	right:0;
	top:110px;
	visibility:hidden;
	z-index:9999; 
	
	@include prefix("transition", all 0.5s ease);
}

.show-search {
	overflow:hidden;
	
	.screen-overlay {
		opacity:1;
		top:110px;
		visibility:visible;
	}
	
	search .suggest {
		opacity:1;
		visibility:visible;
	}
}

.promo {
	background:colors(black);
	background-size:100% auto;
	position:relative;
	
	.copy {
		color:colors(white);
		font-size:36px;
		font-weight:200;
		position:absolute;
		left:50%;
		top:50%;
		z-index:9999;
		
		@include prefix("transform",translate3d(-50%,-50%,0));
	}
	
	.ratio {
		opacity:0.7;
	}
}

@include breakpoint(mobile) {
	.promo {
		display:none;
	}
}

.placeholder-product {
	display:block;
	float:left;
	padding:10px;
	width:100%;
	@include prefix("box-sizing",border-box);
	
	.placeholder-gallery {
		padding:segment(21) 0 segment(10) 0;
		@include prefix("transition-delay", 0.2s);
		@include prefix("transition-duration", 0.3s);
		@include prefix("transition-property", (padding));
		@include prefix("transition-timing-function", ease);
		
		.placeholder-gallery-container {
			width:50%;
			
			.ratio {
				left:50%;
				@include prefix("transform", (translateX(0) scale(1.5)));
			}
		}
	}
	
	.placeholder-info {	
		line-height:segment(5);
		margin:0 auto;
		padding-bottom:30px;
		text-align:center;
		width:70%;
		
		rating {
			height:0;
			float:left;
			margin:0 0 20px 0;
		}

		.placeholder-brand { 
			font-size:15px;
			font-weight:weight(bold);
		}

		.placeholder-name {
			color:colors(gray-1);
			font-size:13px;
			line-height:14px;
			margin:0 0 5px 0;
			overflow: hidden;
		  	text-overflow: ellipsis;
			white-space: nowrap;
		}

		.placeholder-pricing {
			font-size:14px;
			white-space: nowrap;
			
			.placeholder-sale {
				@include inline-block;
				color:colors(red);
				margin:0 0 -10px 0;
				overflow:hidden;
				position: relative;
				top: -3px;
				white-space: nowrap;
				width:0;
				
				@include prefix("transition",width 0.3s ease);
			}
			.placeholder-price {
				position:relative;
				@include inline-block;

				&:after {
					background:transparent;
					content:"";
					display:block;
					height:1px;
					position:absolute;
					top:9px;
					width:1px;
					@include prefix("transition",width 0.5s ease);
				}
			}
		}

	}
}

.facets {
	
	.facets-overlay {
		background:rgba(colors(black),0.2);
		bottom:0;
		left:0;
		opacity:0;
		position:absolute;
		right:0;
		top:0;
		visibility:hidden;
		z-index:999999;
		@include prefix("transition-duration", 0.5s);
		@include prefix("transition-property", (opacity));
		@include prefix("transition-timing-function", ease);
	}
	
	.facets-container {
		background:colors(white);
		border-right:solid 1px colors(gray-4);
		bottom:0px;
		left:0px;
		top:0px;
		opacity:0;
		padding:20px 20px 40px 20px;
		position:fixed;
		width:280px;
		z-index:9999999;
		overflow:scroll; overflow-y: scroll; overflow-x: hidden; @include prefix("overflow-scrolling",touch);

		@include prefix("transform", translate3d(-300px,0,0));
		@include prefix("box-sizing",border-box);
		@include prefix("transition-duration", 0.5s);
		@include prefix("transition-property", (transform, opacity));
		@include prefix("transition-timing-function", ease);

		.classic {
			display:none;

			& + label {
				top:5px;
				float:right;
			}
		}
	}
	
	@include breakpoint(tablet){
		.facets-container {
			left:20px;
		}
	}
	
	@include breakpoint(mobile){
		.facets-container {
			left:0px;
			position:fixed;
			top:0;
			bottom:0;
		}
	}
	
	.facets-title {
		background:colors(white);
		border-bottom:solid 1px colors(gray-4);
		font-size:21px;
		left:20px;
		opacity:0;
		padding:10px 20px;
		position:absolute;
		top:100px;
		width:238px;
		z-index:99999999999999;
		
		@include prefix("transform", translate3d(-300px,0,0));
		@include prefix("box-sizing",border-box);
		@include prefix("transition-duration", 0.5s);
		@include prefix("transition-property", (transform, opacity));
		@include prefix("transition-timing-function", ease);
		
		.done {
			color:colors(gray-1);
			font-size:14px;
			line-height:45px;
			padding:0 25px;
			position:absolute;
			right:0;
			top:0;
		}
	}
	
	.facet {
		border-bottom:solid 1px colors(gray-4);
		font-size:16px;
		text-transform:capitalize;
		
		.items {
			font-size:16px;
			max-height:0px;
			overflow:hidden;
			line-height:24px;
			padding:0;
			font-weight:normal;
			text-transform:none;
			@include prefix("box-sizing",border-box);
			
			.brand-search {
				padding:0 0 20px 0;
				position:relative;
				
				input[type="search"]{
					background:transparent;
					font-size:16px;
					border-bottom:solid 1px colors(gray-4);
					padding:5px 0 5px 16px;
					width:100%;
				}

				&:before {
					content:"\1F50D";
					display:block;
					font-family:"Entypo";
					font-weight:normal;
					float:left;
					font-size:32px;
					position:absolute;
					left:0px;
					top:3px;
				}
			}
			
			&.sizes {
				
				input[type="checkbox"] {
					
					&:checked {
						& + label {
							border:solid 1px colors(black);
							cursor:pointer;
							position:relative;
							z-index:999999;
							@include prefix("transition", all 0.3s ease);
						}
					}
				}
			}
			
			&.prices {

				.min, .max {
					font-size:10px;
					line-height:10px;
					text-transform:uppercase;
					font-weight:bold;
					float:left;
				}
				
				.min {
					width:50%;
				}
				
				.max {
					width:42%;
				}
				
				.dash {
					@include inline-block;
					padding:0 15px;
				}
				
				input[type="number"] {
					background:transparent;
					border-bottom:solid 1px colors(gray-4);
					font-size:16px;
					padding:3px 0;
					width:30%;
				}
			}
			
			&.colors {
				.item-container {
					padding:0;
				}
				
				.c-colors {
					border:solid 1px #dfdfdf;
					cursor:pointer;
					display:block;
					height:32px;
					float:left;
					margin:3px;
					width:32px;
					@include prefix("box-shadow", inset 0 0 0 3px colors(white));
					@include prefix("border-radius", 100px);
					@include prefix("transition", border 0.3s ease);	

					&.beige { background:colorFamily(beige); }
					&.black { background:colorFamily(black); }
					&.blue { background:colorFamily(blue); }
					&.brown { background:colorFamily(brown); }
					&.gray { background:colorFamily(gray); }
					&.green { background:colorFamily(green); }
					&.orange { background:colorFamily(orange); }
					&.pink { background:colorFamily(pink); }
					&.purple { background:colorFamily(purple); }
					&.red { background:colorFamily(red); }
					&.white { background:colorFamily(white); }
					&.yellow { background:colorFamily(yellow); }
					
					&:before {
						display:none;
					}
				}
				

				
				input[type="checkbox"] {

					&:checked {
						& + label {
							border:solid 1px colors(black);
							cursor:pointer;
							position:relative;
							z-index:999999;
							@include prefix("transition", all 0.3s ease);
						}
					}
				}
			}
			
			label {
				cursor:pointer;
				display:block;
				@include prefix("transition", all 0.3s ease);
				
				&.s-sizes {
					border:solid 1px colors(gray-4);
					cursor:pointer;
					display:block;
					height:40px;
					float:left;
					font-size:13px;
					font-weight:normal;
					line-height:40px;
					margin:0 -1px -1px 0;
					text-align:center;
					width:40px;
					
					&:before {
						display:none;
					}
				}
			}
			
			.subcats {
				overflow:hidden;
				max-height:0;
				@include prefix("transition", all 0.3s ease);
				outline:solid 1px red;
				
				a {
					opacity:0;
					visibility:hidden;
				}
			}
			
			a {
				color:colors(gray-1);
				display:block;
				font-size:16px;
				font-weight:normal;
				margin:0 0 0 20px;
				padding:3px 20px 3px 0;
				text-transform:none;
				@include prefix("transition", all 0.3s ease);
				
				&:before {
					content:"";
					display:block;
					font-size:21px;
					font-weight:200;
					opacity:0;
					position:absolute;
					margin-top:-2px;
					margin-left:-10px;
					
					@include prefix("transform", rotate(45deg));
					@include prefix("transition-duration", 0.3s);
					@include prefix("transition-property", (transform, opacity, margin));
					@include prefix("transition-timing-function", ease);
				}
				
				&.subcat {
					margin:0 0 0 40px;
				}
				
				&.active {
					color:colors(black);
					
					&:hover {
						color:colors(black);
						opacity:1;
					}
					
					&:before {
						content:"+";
						display:block;
						font-size:21px;
						font-weight:200;
						position:absolute;
						margin-top:-2px;
						margin-left:-18px;
						opacity:0;
					}

				}
				
				&:hover {
					opacity:0.6;
					
					&:before {
						opacity:1;
					}
				}
				
				&:last-child {
					border:none;
				}
			}
		
			.level {
				padding-left:20px;
			}
			
			.last {
				padding-left:20px;
			}
		}
		
		.action {
			color:colors(black);
			display:block;	
			font-size:16px;
		    padding:10px 18px 10px 0;
		
			span {
				color:colors(gray-2);
				font-weight:normal;
				text-transform:none;
				position:absolute;
				right:60px;
			}
		
			&:after {
				display:block;
				font-size:20px;
				font-weight:normal;
				float:right;
				margin-right:-10px;
				content:"+";
				@include prefix("transition", transform 0.3s ease);
			}
			
			&.expanded {
				&:after {
					content:"\2013";
				}
				
				& + .items {
					max-height:8000px;
					padding:0 0 20px 0;
					
					a {
						&.active {

							&:before {
								opacity:1;
							}

						}
					}
				}
			}
			
			&.no-expand {
				&:after {
					display:none;
				}
				
				& + .items {
					max-height:8000px;
					padding:0 0 20px 0;
				}
			}
		}
	}
}

@include breakpoint(mobile){
	.facets {
		position:fixed;
		top:102px;
		left:0;
		z-index:999999;
	}
}

.product-listing {
	background:colors(gray-4);
}

.toolbar {
	border-bottom:solid 1px transparent;
	position:absolute;
	left:0;
	text-align:center;
	right:0;
	z-index:999999;
	@include prefix("transition-duration", 0.3s);
	@include prefix("transition-property", (background));
	@include prefix("transition-timing-function", ease);
	
	.toolbar-container {
		margin:0 auto;
		max-width:1400px;
		padding:30px 40px;
		@include prefix("box-sizing",border-box);
		@include prefix("transition-duration", 0.3s);
		@include prefix("transition-property", (padding));
		@include prefix("transition-timing-function", ease);
	}
	
	.sort {
		@include inline-block;
		margin:0 auto -9px;
		
		ul {
			list-style-type:none;
			margin:0;
			padding:0;
			
			li {
				display:block;
				float:left;
				list-style-type:none;
				margin:0;
				padding:0;
				position:relative;
				
				a {
					color:colors(gray-2);
					display:block;
					font-size:16px;
					text-transform: capitalize;
					padding:8px 14px;
					@include prefix("transition", all 0.3s ease);
					
					&:hover {
						color:colors(black);
					}
					
					&.selected {
						border-bottom:solid 1px colors(black);
						color:colors(black);
						
						&.more {
							border-bottom:none;
						}
					}
					
					&.more {
						
						
						&:hover {
							& + .sort-menu {
								opacity:1;
								top:40px;
								visibility:visible;
							}
						}
						
						&:before {
							content:"More";
							@include inline-block;
							position:relative;
						}
						
						&:after {
							display:block;
							content:"\E760";
							font-family:"Entypo";
							font-size:32px;
							float:right;
							margin:0 0 0 5px;
						}
					}
				}
				
				.sort-menu {
					background:colors(white);
					border:solid 1px colors(gray-4);
					left:50%;
					opacity:0;
					padding:5px 0;
					position:absolute;
					top:20px;
					visibility:hidden;
					width:150px;
					
					a {
						&.selected {
							border-bottom:none;
						}
					}
					
					&:hover {
						opacity:1;
						top:40px;
						visibility:visible;
					}
					
					@include prefix("transform",translate3d(-50%,0,0));
					@include prefix("transition-duration", 0.3s);
					@include prefix("transition-property", (all));
					@include prefix("transition-timing-function", ease);
					
					&:after {
						display:none;
					}
					
					&:before {
						background:colors(white);
						content:"";
						display:block;
						height:10px;
						left:50%;
						margin-left:-5px;
						width:10px;
						position:absolute;
						top:-12px;
						transform: rotate(45deg) translate(6px, 6px);
					    box-shadow: -1px -1px 1px -1px colors(gray-4);
					}
					
					a {
						padding:5px 20px;
						text-align:left;
					}
				}
			}
		}
	}

	
	.filter-btn {
		background:colors(white);
		border-left:solid 1px transparent;
		color:colors(black);
		cursor:pointer;
		display:block;
		font-weight:weight(bold);
		float:left;
		line-height:38px;
		overflow: hidden;
		padding:0px 15px 0px 5px;
		position:absolute;
		float:left;
		text-align:left;
		white-space: nowrap;
		
		@include prefix("box-sizing",border-box);
		@include prefix("border-radius",2px);
		@include prefix("transition",all 0.1s ease);
		
		&:after {
			opacity:0;
			visibility:hidden;
		}
		
		span {
			bottom:0;
			border-left:solid 1px colors(gray-4);
			border-right:solid 1px colors(gray-4);
			font-size:14px;
			opacity:0;
			position:absolute;
			right:0;
			line-height:38px;
			top:0;
			padding:0 15px;
		}
		
		svg {
			float:left;
			margin:13px 10px 5px 5px;
			width:16px;
		}
	}
	
	.results {
		left:50%;
		font-weight:weight(bold);
		position:absolute;
		text-transform:uppercase;
		top:50%;
		@include prefix("transform", translate3d(-50%, -50%, 0));
		
	}
}

@include breakpoint(mobile){
	.toolbar {
		background:colors(white);
		position:absolute;
		height:44px;
		top:0px;
		
		.toolbar-container {
			padding:0;
		}
		
		.sort {
			float:right;
			ul {
				li {
					a {
						&.selected {
							border-bottom:none;
							color:colors(black);
						}
						
						&.more {
							&:before {
								content:"Sort";
							}	
						}
					}
					
					.sort-menu {
						left:auto;
						right:10px;
						@include prefix("transform",translate3d(0,0,0));
						
						&:before {
							left:auto;
							right:20px;
						    box-shadow: -1px -1px 1px -1px colors(gray-3);
						}
					}
				}
			}
		}
	}
}

@include breakpoint(tablet){
	.toolbar {

		.toolbar-container {
			padding:30px 10px 30px 20px;
		}
	}
}


.wall {
	margin:0 auto;
	min-height:800px;
	padding-top:90px;
	position:relative;
	max-width:1400px;
	@include prefix("transition-duration", 0.5s);
	@include prefix("transition-property", (padding));
	@include prefix("transition-timing-function", ease);
	
	.wall-container {
		margin:0 auto;
		max-width:1400px;
		padding:0 30px;
		position:relative;
		@include prefix("box-sizing",border-box);
	}
}

@include breakpoint(mobile){
	.wall {
		padding-top:48px;
		
		.wall-container {
			padding:0 1px;
		}	
	}
}

@include breakpoint(tablet){
	.wall {
		.wall-container {
			padding:0 10px;
		}	
	}
}

@include breakpoint(desktop-medium){
	.wall {
		.wall-container {
			padding:0 10px;
		}	
	}
}


.filter-open {	
	overflow:hidden;
	
	@include breakpoint(mobile){
	overflow:hidden;	
		
		
		.wall {
			padding-left:0;
		}
		
		.facets {
			
			.facets-container {
				padding-top:50px;
			}
			
			.facets-overlay {
				opacity:1;
				position:fixed;
				visibility:visible;
			}
			
			.facets-title {
				opacity:1;
				position:fixed;
				top:0;
				left:0;
				visibility:visible;
				@include prefix("transform", translate3d(0px,0,0));
			}
		}
	}
	
	.facets {

		.facets-overlay {
			opacity:1;
			position:fixed;
			visibility:visible;
		}
		
		.facets-container {
			opacity:1;
			visibility:visible;
			@include prefix("transform", translate3d(0px,0,0));
		}
	}
}

.all-brands {
	
	.brands-header {
		padding:100px 0 80px 0;
		

	}
	
	.brands-nav {
		background:colors(white);
		border-bottom:solid 1px colors(white);
		position:absolute;
		left:0;
		right:0;
		text-align:center;
		z-index:9999999999999;
		
		a {
			@include inline-block;
			padding:15px 15px;
			
			&.selected {
				color:colors(black);
				font-weight:bold;
			}
		}
	}
	
	.tag {
		color:colors(red);
		font-weight:400;
		margin-left:5px;
		font-size:11px;
		text-transform:uppercase;
		
		&.exclusive {
			color:colors(black);
		}
	}
	
	.alpha-results {
		background:rgba(colors(black),0.9);
		display:none;
		padding:10px;
		position:absolute;
		left:0;
		right:0;
		max-height:400px;
		text-align:left;
		top:24px;
		z-index:9999;
		
		overflow:scroll; overflow-y: scroll; overflow-x: hidden; @include prefix("overflow-scrolling",touch);
		
		a {
			color:colors(white);
			display:block;
			padding:5px;
		}
	}
	
	.alpha-column {
		background: transparent;
		background: linear-gradient(
						to bottom, 
						transparent 0px, 
						transparent 20px, 
						colors(gray-3) 20px, 
						transparent 21px
					);
	    background-size: 40px 40px;
		clear:both;
		display:block;
		font-weight:bold;
		padding:10px 0;
		margin:30px 0 10px 0;
		width:100%;
		
		span {
			background:colors(white);
			padding-right:20px;
		}

	}
	
	.alpha-list {
		padding-left:30px;
	}
	
	.brand-search {
		position:relative;
		margin:0 auto;
		max-width:500px;
		
		input[type="search"]{
			background:transparent;
			font-size:18px;
			border-bottom:solid 1px colors(gray-4);
			padding:5px 0 5px 16px;
			position:relative;
			top:-5px;
			width:100%;
			@include prefix("transition", border 0.3s ease);
			
			&:focus {
				color:colors(white);
				border-bottom:solid 1px colors(gray-4);
			}
		}

		&:before {
			content:"\1F50D";
			color:colors(white);
			display:block;
			font-family:"Entypo";
			font-weight:normal;
			float:left;
			font-size:32px;
			position:absolute;
			left:0px;
			bottom:1px;
		}
	}
	
	.alpha-brands {
		padding:30px 0;
		text-align:center;

		a {
			color:colors(white);
			display:inline;
			margin-right:15px;
		}
	}
}

.alpha-brands {
	padding:30px 0;
	text-align:center;

	a {
		display:inline;
		margin-right:15px;
	}
}


@include breakpoint(mobile){
	
	.alpha-brands {
		display:none;
	}
	
	.all-brands {
		.alpha-column {
			background:none;
			font-weight:normal;
			margin:0;
			padding:8px 10px;
			border-bottom:solid 1px colors(gray-4);
		}
		.alpha-list {
			display:none;
		}
	}
}


.brand-stories {
	background:colors(gray-5);
	
	.stories-title {
		margin:0 10px 10px 10px;
		padding:10px 20px;
		text-align:center;
		
		h4 {
			float:left;
			font-weight:bold;
			margin:0;
			padding:0;
			line-height:40px;
		}

		.stories-tabs {
			position:absolute;
			left:0;
			right:0;
			z-index:9999999999999;

			a {
				@include inline-block;
				padding:10px 15px;	

				&.selected {
					color:colors(black);
					font-weight:bold;
				}
			}
		}
		
		.stories-tabs-two {
			position:absolute;
			left:0;
			right:0;
			z-index:9999999999999;

			a {
				@include inline-block;
				padding:10px 15px;	

				&.selected {
					color:colors(black);
					font-weight:bold;
				}
			}
		}
	}
}

@include breakpoint(mobile){
	.stories-title {
		.stories-tabs {
			white-space: nowrap;
			overflow:scroll; 
			overflow-y: hidden; 
			overflow-x: scroll; 
			width:100%;
			@include prefix("overflow-scrolling",touch);

		}
	}
}

.copy-full-width {
  p,
  ul li {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }
}
@media (min-width: $largeBreakpoint) {
  .copy-full-width {
    p,
    ul li {
      font-size: 21px;
      line-height: 25px;
      max-width: 900px;
      padding-bottom: 10px;
    }
  }
}


.error {
  border: solid 1px #B11623;
  color: #B11623;
  display: block;
  font-size: 18px;
  margin: 5px 0;
  padding: 20px;
  position: relative;
  clear: both;
  
  &:before {
    content: "\e627";
    display: block;
    font-family: 'icomoon';
    position: absolute;
    right: 5px;
    top: 5px;
  }

}

.instagram {
	overflow:scroll; 
	overflow-y: hidden; 
	overflow-x: scroll; 
	@include prefix("overflow-scrolling",touch);
	
	
	.instagram-overflow {
		clear:both;
		
		ul {
			margin:0;
			padding:0;
			white-space: nowrap;

			li {
				float:left;
				list-style-type:none;
				margin:0;
				padding:0;
				width:20%;

				.ratio {
					background-position:center center;
				}
			}	
		}
	}
}

@include breakpoint(mobile){
	.instagram {
		.instagram-overflow {
			width:2000px;
			
			ul {
				margin:0;
				padding:0;
				white-space: nowrap;

				li {
					width:200px;
				}	
			}
		}
	}
}

.brands-promotions {
	background:colors(black);
	color:colors(white);
	font-size:18px;
	margin:10px;
	padding:40px 20px;
	text-align:center;
	
	img {
		width:30px;
		    display: inline-block;
		    margin: -8px 10px;
	}
	
	span {
		background:colors(gray-3);
		@include inline-block;
		width:1px;
		height:10px;
		margin:0 10px;
	}
}

@include breakpoint(mobile){
	.brands-promotions {
		display:none;
		padding:20px;
		
		img {
			display:block;
			margin:0 auto 10px;	
		}
		
		span {
			height:0;
			width:0;
			display:block;
		}
	}
}


.insights {
	position:relative;
	
	.panel {
		float:left;
		padding:0;
		position:relative;
		width:50%;
		
		&.push { left:50%; }
		&.pull { left:-50%; }
		
		.image {
			color:colors(gray-1);
			font-size:18px;
			line-height:24px;
			padding:100px 150px;
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			text-align:center;
			@include prefix("box-sizing",border-box);
			
			h3 {
				color:colors(black);
			}
		}
		
		.copy {
			color:colors(gray-1);
			font-size:16px;
			left: 50%;
			line-height:24px;
			max-width: 400px;
			position:absolute; 
			text-align:center;
			top: 50%;
	
			@include prefix("transform",translate3d(-50%,-50%,0));
			@include prefix("box-sizing",border-box);
			
			h3 {
				color:colors(black);
			}
		}
		
		
		&:before { 
			content: "";
			display: block;
			padding-top:60%;
		}
	}


	@include breakpoint(portrait){
		.panel {
			float:none;
			width:100%;
			
			&.push { left:0%; }
			&.pull { left:0%; }
			
			.copy {
				width:80%;
			}
		}
	}
	
	@include breakpoint(mobile){
		.panel {
			float:none;
			width:100%;
			
			&.push { left:0%; }
			&.pull { left:0%; }
			
			.image {	
				position:static;
			}
			
			.copy {
				padding:20px;
				position:static;
				width:100%;
				
				@include prefix("transform",translate3d(0,0,0));
			}
			
			&:before { 
				padding-top:0%;
			}
		}
	}
}

.listing-text-title {
	float:left;
	padding:10px;
	position:relative;
	width:25%;
	text-align:center;
	
	.labels {
		background:colors(white);
		
		.copy {
			position:absolute;
			left:50%; 
			top:50%; 
			width:80%;
			@include prefix("transform",translate3d(-50%,-50%,0));
			
			h3 {
			
				&:after {
					content:"";
					display:block;
					width:80px;
					height:3px;
					margin:15px auto 20px auto;
					background:colors(gray-4);
				}
			}
		}

		.placeholder-product {
			opacity:0;
		}
	}
	

}

.brands-product {
	padding-top:rhythm(2);
}

@include breakpoint(mobile){
	.brands-product {
		padding-top:4px;
	}
}

@include breakpoint(portrait){
	.listing-text-title {
		width:33.33%;
	}
}

@include breakpoint(mobile){
	
	.brand-stories {
		.listing {
			&:last-child {
				display:none;
			}
		}
	}
	
	.listing-text-title {
		padding:3px;
		width:100%;
	
		.labels {
			.copy {
				left:0;
				right:0;
				padding:20px;
				position:relative;
				width:100%;
				
				@include prefix("transform",translate3d(0,0,0));
			}
		}
		
		.placeholder-product {
			display:none;
		}
		
		.short {
		}
	}
}

.video-container {
	cursor:pointer;
	height:400px;
	overflow:hidden;
	position:relative;
	
	.overlay {
		background:rgba(colors(black),0.4);
		top:0;
		bottom:0;
		left:0;
		right:0;
		position:absolute;
		z-index:99999;
	}
	
	.message {
		color:colors(white);
		left:50%;
		padding:20px;
		position:absolute;
		text-align:left;
		top:50%;
		z-index:999999;
		
		img {
			margin:0 auto;
			width:300px;
		}
		
		@include prefix("transform",translate3d(-50%,-50%,0));
	}
	
	.thumbnail {
		background:url(../img/layout/video_thumbnail.png);
		background-size:cover;
		float:left;
		height:56px;
		margin:-10px 15px 0 15px;
		overflow:hidden;
		position:relative;
		width:100px;
		@include prefix("border-radius", 2px);
		
		&:before {
			background:rgba(colors(black),0.5);
			content:"\25B6";
			display:inline-block;
			text-align:center;
			height:30px;
			width:30px;
			line-height:35px;
			position:absolute;
			border:solid 2px colors(white);
			text-indent: 2px;
			left:50%; top:50%; @include prefix("transform",translate3d(-50%,-50%,0));
			@include prefix("border-radius", 90px);
		}
		
		
		.timer {
			background:rgba(colors(black),0.8);
			color:colors(white);
			font-size:10px;
			padding:2px 5px;
			position:absolute;
			bottom:3px;
			right:3px;
			@include prefix("border-radius", 2px);
		}
	}
	
	video {
		@include inline-block;
		vertical-align: middle;
		position:absolute;
		top:50%;
		left:50%;
		
		@include prefix("transform",translate3d(-50%,-50%,0));
	}
}

@include breakpoint(mobile){
	.video-container {
		height:180px;
		
		.message {
			width:100%;
			padding:0;
			
			.gap1 { display:none; }
			
			img {
				width:160px;
			}
		}
	}
}

.brand-hero {
	position:relative;
	
	.overlay {
		background:rgba(colors(black),0.4);
		top:0;
		bottom:0;
		left:0;
		right:0;
		position:absolute;
		z-index:99999;
	}
	
	.message {
		position:absolute;
		left:50%; top:50%; @include prefix("transform",translate3d(-50%,-50%,0));
		z-index:999999;
		
		img {
			width:180px;
		}
	}
}

@include breakpoint(mobile){
	.brand-hero {
		min-height:200px;
		
	}
	
	.mobile-promo {
		display:none;
	}
}

.alpha-brands-subnav {
	background:colors(white);
	border-bottom:solid 1px colors(gray-4);
	top:50px;
	position:fixed;
	left:0;
	right:0;
	text-align:center;
	z-index:2147483637;
	
	@include prefix("transition", all 0.3s ease);
	@include prefix("transform", translate3d(0,-100px,0));
	
	&.active {
		@include prefix("transform", translate3d(0,0,0));
	}

	a {
		color:colors(black);
		@include inline-block;
		padding:10px 0;
		margin-right:15px;
	}
}