@import 'functions';

$settings: (
	scale:		5,
	base_url:	"http://localhost:8888/bc-design-app/"
);

$fonts: (
	base: 		settings(scale) * 4,
	primary:	""Conduit",Helvetica, Arial, Sans-Serif",
);

$colors: (
	white:	#FFFFFF,
	black:	#222222,
	blue:	#3399CC,
	red:	#FF0000,
	orange: #e48325,
	green: 	#99cc33,
	gray-0:	#fafafa,
	gray-1:	#ededed,
	gray-2: #cccccc,
	gray-3: #999999,
	gray-4:	#666666,
	gray-5: #a7a7a7,
	gray-6: #c2c2c2
);

$weight: (
	light: 200,
	regular: 400,
	bold:700,
	extrabold:900
);